.password-field{
  position: relative;
}
.password-field i{
  position: absolute;
  top: 39px;
  right: 10px;
  cursor: pointer;
  color: #364F6B;
}

@media all and (max-width: 1279px) {
  .password-field i{
    top: 34px;
  }
}

@media all and (max-width: 960px) {
  .password-field i{
    top: 30px;
  }
}